package {{PackageName}}.controller;
{{#hasProjection}}
import {{PackageName}}.projection.{{ClassName}}Projection;
{{/hasProjection}}
import {{PackageName}}.dto.{{ClassName}}Dto;
import {{PackageName}}.service.{{ClassName}}Service;

import jakarta.validation.Valid;
import lombok.RequiredArgsConstructor;
import org.springframework.web.bind.annotation.*;
{{#Paginated}}
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;
{{/Paginated}}

import java.util.List;
{{#Imports}}
import {{.}};
{{/Imports}}

@RequiredArgsConstructor
@RestController
@RequestMapping("/api/v1/{{className}}")
public class {{ClassName}}Controller{
    private final {{ClassName}}Service {{className}}Service;

    @GetMapping
    public List<{{ClassName}}{{#hasProjection}}Projection{{/hasProjection}}{{^hasProjection}}Dto{{/hasProjection}}> getAll() {
        return {{className}}Service.findAll();
    }

    @GetMapping("/{id}")
    public {{ClassName}}Dto getById(@PathVariable {{IdType}} id) {
        return {{className}}Service.findById(id);
    }
    {{#Paginated}}
        
    @GetMapping("/p")
    public Page<{{ClassName}}{{#hasProjection}}Projection{{/hasProjection}}{{^hasProjection}}Dto{{/hasProjection}}> getAllPaginated(Pageable pageable){
        return {{className}}Service.findAllPaginated(pageable);
    }
    {{/Paginated}}

    @PostMapping
    public {{ClassName}}Dto save(@Valid @RequestBody {{ClassName}}Dto dto) {
        return {{className}}Service.save(dto);
    }

    @PutMapping
    public {{ClassName}}Dto update(@Valid @RequestBody {{ClassName}}Dto dto) {
        return {{className}}Service.update(dto);
    }

    @DeleteMapping("/{id}")
    public void delete(@PathVariable {{IdType}} id) {
        {{className}}Service.delete(id);
    }
}

//Generated by Sprout