package {{PackageName}}.service;

import {{PackageName}}.entity.{{ClassName}};
{{#hasProjection}}
import {{PackageName}}.projection.{{ClassName}}Projection;
{{/hasProjection}}
import {{PackageName}}.dto.{{ClassName}}Dto;
import {{PackageName}}.exception.{{ClassName}}Exception;
import {{PackageName}}.mapper.{{ClassName}}Mapper;
import {{PackageName}}.repository.{{ClassName}}Repository;

import lombok.RequiredArgsConstructor;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;
{{#Paginated}}
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;
{{/Paginated}}

import java.util.List;
import java.util.stream.Collectors;

{{#Imports}}
import {{.}};
{{/Imports}}

@RequiredArgsConstructor
@Transactional
@Service
public class {{ClassName}}Service{
    private final {{ClassName}}Repository {{className}}Repository;
    private final {{ClassName}}Mapper {{className}}Mapper;

    @Transactional(readOnly = true)
    public List<{{ClassName}}{{#hasProjection}}Projection{{/hasProjection}}{{^hasProjection}}Dto{{/hasProjection}}> findAll() {
        return {{className}}Repository.findAll().stream()
                .map({{className}}Mapper::to{{#hasProjection}}Projection{{/hasProjection}}{{^hasProjection}}Dto{{/hasProjection}})
                .collect(Collectors.toList());
    }

    @Transactional(readOnly = true)
    public {{ClassName}}Dto findById({{IdType}} id) {
        return {{className}}Repository.findById(id)
                .map({{className}}Mapper::toDto)
                .orElseThrow(() -> new {{ClassName}}NotFoundException("{{ClassName}} not found with id: " + id));
    }

    {{#Paginated}}
    @Transactional(readOnly = true)
    public Page<{{ClassName}}{{#hasProjection}}Projection{{/hasProjection}}{{^hasProjection}}Dto{{/hasProjection}}> findAllPaginated(Pageable pageable){
        return {{className}}Repository.findAll(pageable)
                .map({{className}}Mapper::to{{#hasProjection}}Projection{{/hasProjection}}{{^hasProjection}}Dto{{/hasProjection}});
    }
    {{/Paginated}}

    public {{ClassName}}Dto save({{ClassName}}Dto dto) {
        {{ClassName}} entity = {{className}}Mapper.toEntity(dto);
        return {{className}}Mapper.toDto({{className}}Repository.save(entity));
    }

    public {{ClassName}}Dto update({{ClassName}}Dto dto) {
        if (!{{className}}Repository.existsById(dto.{{Id}}())) {
            throw new {{ClassName}}NotFoundException("Cannot update: {{ClassName}} not found with id: " + dto.{{Id}}());
        }

        {{ClassName}} entity = {{className}}Mapper.toEntity(dto);
        return {{className}}Mapper.toDto({{className}}Repository.save(entity));
    }

    public void delete({{IdType}} id) {
        if (!{{className}}Repository.existsById(id)) {
            throw new {{ClassName}}NotFoundException("Cannot delete: {{ClassName}} not found with id: " + id);
        }
        {{className}}Repository.deleteById(id);
    }
}

//Generated by Sprout